* {
  box-sizing: border-box;
}
:root {
  font-size: 62, 5%;
}
body {
  background: black;
  display: flex;

  #aside {
    width: 15%;
    height: 100vh;
    /* border: 1px solid red; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 1px white;
    background-color: black;
    color: white;
  }
  #sideNav {
    padding: 0;
    margin-top: 2rem;
  }
  #sideNav li {
    list-style-type: none;
    margin: 0.5rem 0;
    font-size: 20px;
    width: 800%;
    display: flex;
    color: gray;
    /* justify-content: space-between; */
  }
}

button,
li {
  font-size: 0.8rem;
}

#artist-wrapper {
  width: 80%;
}

#artist-top {
  #artist-buttons {
    #artist-follow {
      background: rgba(0, 0, 0, 0.58);
      border: 1px solid white;
      &:hover {
        background: rgba(255, 255, 255, 0.58);
        color: black;
        border: 1px solid black;
      }
    }
  }
}
#artist-nav {
  li {
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      top: 110%;
      left: 30%;
      background-color: rgb(0, 228, 0);
      width: 30px;
      height: 2px;
      display: none;
    }
    &:hover {
      cursor: pointer;
      &::before {
        display: block;
      }
    }
  }
}

#artist-bottom {
  position: relative;
  box-shadow: 0px -5px 20px 1px black;

  #artistAddPrompt {
    transition: all 2s;
  }
  #artist-bottom-albums {
    #artist-albums-content {
      color: rgb(193, 193, 193);
      .card {
        background: rgba(17, 0, 17, 0.827);
        width: 15%;
        border: none;
        min-width: 200px;
        box-shadow: 1px 1px 3px 0px rgb(62, 62, 62);
      }
    }
  }
  #artistAddMessage {
    background-color: rgba(1, 57, 57, 0.769);
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(214, 211, 235);
    transition: all 20s;
    display: none;
  }
}

//////// slider test
.swiper {
  padding: 10px;
  background: none;

  .swiper-slide {
    width: 13%;
    padding: 5px;
    img {
      width: 100%;
    }
    p {
      font-size: clamp(0.6rem, 1vw, 1rem);
      text-align: center;
      padding: 1rem;
      color: azure;
    }
  }
}
