* {
  box-sizing: border-box;
}
:root {
  font-size: 62, 5%;
}
body {
  background: black;
  display: flex;
  overflow-x: hidden;

  #aside {
    width: 15%;
    height: 100vh;
    /* border: 1px solid red; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 1px white;
    background-color: black;
    color: white;
  }
  #sideNav {
    padding: 0;
    margin-top: 2rem;
  }
  #sideNav li {
    list-style-type: none;
    margin: 0.5rem 0;
    font-size: 20px;
    width: 800%;
    display: flex;
    color: gray;
    /* justify-content: space-between; */
  }
}

button,
li {
  font-size: 0.8rem;
}

#artist-wrapper {
  width: 80%;
  // needed for player
  .master_play {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    height: 10%;
    background-color: #111727;
    box-shadow: 0px 3px 8px #090f1f;
    img {
      width: 35px;
      height: 35px;
    }
    h5 {
      width: 130px;
      font-size: 13px;
      margin-left: 15px;
      color: #fff;
      line-height: 15px;
      .subtitle {
        font-size: 11px;
        color: #4c5262;
      }
      /* hart and likepost */
      .likepost {
        position: absolute;
        color: rgb(242, 245, 235);
        left: -135%;
        top: 66%;
        font-size: 30px;
      }

      .heart:before {
        top: -4.5vh;
        left: 0;
      }

      .heart:after {
        top: 0;
        left: 4.5vh;
      }

      .heart.love:before,
      .heart.love:after {
        color: #f80808;
      }
    }
    .icon {
      font-size: 20px;
      color: #fff;
      margin: 0 20px 0 40px;
      .bi {
        cursor: pointer;
        outline: none;
        &:nth-child(2) {
          border: 1px solid rgba(105, 105, 170, 0.1);
          border-radius: 50%;
          padding: 1px 3px 0 6px;
          margin: 0 5px;
          transition: 0.3s linear;
        }
      }
    }
    #currentStart {
      margin: 0 0 0 20px;
    }
    .bar {
      position: relative;
      width: 43%;
      height: 2px;
      background: rgba(105, 105, 170, 0.1);
      margin: 0 15 0 10px;
      .bar2 {
        position: absolute;
        background: #36e2ec;
        width: 0%;
        height: 100%;
        top: 0;
      }
      .dot {
        position: absolute;
        width: 5px;
        height: 5px;
        background: #36e2ec;
        border-radius: 50%;
        left: 0;
        top: -1px;
        transition: 1s linear;
        &::before {
          content: "";
          position: absolute;
          width: 15px;
          height: 15px;
          border: 1px solid #36e2ec;
          border-radius: 50%;
          left: -6px;
          top: -6px;
          box-shadow: inset 0px 0px 3px #36e2ec;
        }
      }
      input {
        position: absolute;
        width: 100%;
        top: -6px;
        left: 0;
        cursor: pointer;
        z-index: 9999999;
        transition: 3s linear;
        opacity: 0;
      }
    }
    .vol {
      position: relative;
      width: 100px;
      height: 2px;
      margin-left: 50px;
      background: rgba(105, 105, 170, 0.1);
      .bi {
        position: absolute;
        counter-reset: #fff;
        font-size: 25px;
        top: -17px;
        left: -30px;
      }
      input {
        position: absolute;
        width: 100%;
        top: -10px;
        left: 0;
        cursor: pointer;
        z-index: 9999999;
        transition: 3s linear;
        opacity: 0;
      }
      .vol_bar {
        position: absolute;
        background: #36e2ec;
        width: 0%;
        height: 100%;
        top: 0;
      }
      .dot {
        position: absolute;
        width: 5px;
        height: 5px;
        background: #36e2ec;
        border-radius: 50%;
        left: 0;
        top: -1px;
        transition: 1s linear;
        &::before {
          content: "";
          position: absolute;
          width: 15px;
          height: 15px;
          border: 1px solid #36e2ec;
          border-radius: 50%;
          left: -6px;
          top: -6px;
          box-shadow: inset 0px 0px 3px #36e2ec;
        }
      }
    }
    span {
      color: #fff;
      width: 32px;
      font-size: 11px;
      font-weight: 400;
    }
    .wave {
      width: 30px;
      height: 30px;
      /* border: 1px solid #fff; */
      padding-bottom: 5px;
      display: flex;
      align-items: flex-end;
      margin-right: 10px;
      .wave1 {
        width: 3px;
        height: 10px;
        margin-right: 3px;
        border-radius: 10px 10px 0 0;
        background: #36e2ec;

        animation: unset;
        &:nth-child(2) {
          height: 13px;
        }
        &:nth-child(3) {
          height: 8px;
        }
      }
    }

    .active2 .wave1 {
      animation: wave 0.5s linear infinite;
    }

    .active2 .wave1:nth-child(2) {
      /* height: 13px; */
      animation-delay: 0.4s;
    }

    .active2 .wave1:nth-child(3) {
      /* height: 8px; */
      animation-delay: 0.8s;
    }
  }
}

#artist-top {
  #artist-buttons {
    #artist-follow {
      background: rgba(0, 0, 0, 0.58);
      border: 1px solid white;
      &:hover {
        background: rgba(255, 255, 255, 0.58);
        color: black;
        border: 1px solid black;
      }
    }
  }
}
#artist-nav {
  li {
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      top: 110%;
      left: 30%;
      background-color: rgb(0, 228, 0);
      width: 30px;
      height: 2px;
      display: none;
    }
    &:hover {
      cursor: pointer;
      &::before {
        display: block;
      }
    }
  }
}

#artist-bottom {
  position: relative;
  box-shadow: 0px -5px 20px 1px black;

  #artistAddPrompt {
    transition: all 2s;
  }
  #artist-bottom-albums {
    #artist-albums-content {
      color: rgb(193, 193, 193);
      .card {
        background: rgba(17, 0, 17, 0.827);
        width: 15%;
        border: none;
        min-width: 200px;
        box-shadow: 1px 1px 3px 0px rgb(62, 62, 62);
      }
    }
  }
  #artistAddMessage {
    background-color: rgba(1, 57, 57, 0.769);
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(214, 211, 235);
    transition: all 20s;
    display: none;
  }
}

//////// slider test
.swiper {
  padding: 10px;
  background: none;

  .swiper-slide {
    width: 13%;
    padding: 5px;
    img {
      width: 100%;
    }
    p {
      font-size: clamp(0.6rem, 1vw, 1rem);
      text-align: center;
      padding: 1rem;
      color: azure;
    }
  }
}
