* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}


.container {
 background: linear-gradient(
 rgb(80, 6, 199),
 rgb(80, 2, 190),
 rgb(3, 23, 116),
 rgb(1, 12, 61));
 background-repeat: no-repeat;
 width: 100%;
 height: 100vh;
 display: flex;
 align-items: center;
 flex-direction: column;

}

.navbarbox {
 margin-top: 0;

}

.nav-item {
 margin: 20px;
 color: #fff;

}

.main-top {
 border: 2px solid #fff;
 width: 100%;
 height: 35%;
 position: relative;
 margin-top: 5px;
 /* color: #fff; */
}

.main-bottom {
 border: 2px solid #fff;
 width: 100%;
 height: 35%;
 position: relative;
 /* color: #fff; */
}
hhh